extend baseEmail

block content
    p Hi #{firstName},
        p Forgot your password.click this link 
        a(href=`${url}`) Click Here
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Forgot Your Password
        p - Harun Or Rashid, Administrator of RUCSE Result Management System