.page-loader-wrapper
    .loader
        .preloader
            .spinner-layer.pl-red
                .circle-clipper.left
                    .circle
                .circle-clipper.right
                    .circle
        p Please wait...
