
//- .search-bar
//-     .search-icon
//-         i.material-icons search
//-     input(type='text' placeholder='START TYPING...')
//-     .close-search
//-         i.material-icons close

nav.navbar
    .container-fluid
        .navbar-header
            a.bars(href='javascript:void(0);')
            if user.role == 'admin'
                a.navbar-brand(href='/admin') The World of RU CSE 26
            else
                a.navbar-brand(href='/dashboard') The World of RU CSE 26
        //- #navbar-collapse.collapse.navbar-collapse
        //-     ul.nav.navbar-nav.navbar-right
        //-         // Call Search
        //-         li
        //-             a.js-search(href='javascript:void(0);' data-close='true')
        //-                 i.material-icons search
        //-         // #END# Call Search