extend base

block content

    h2.text-center.col-pink Publish Student Result
    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .card
                .header
                    h2
                        | SELECT PART AND SEMESTER
                        
                .body
                    .row.clearfix
                        .col-sm-3
                            select#part.form-control.show-tick
                                option(value='') -- Part --
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                                option(value='4') 4
                        .col-sm-3
                            select#semester.form-control.show-tick
                                option(value='') -- Semester --
                                option(value='odd') odd
                                option(value='even') even
                        .col-sm-4
                            select#session.form-control.show-tick
                                option(value='') -- Session --
                                option(value='2014-15') 2014-15
                                option(value='2015-16') 2015-16
                                option(value='2017-18') 2017-18
                                option(value='2018-19') 2018-19
                                option(value='2019-20') 2019-20
                                option(value='2020-21') 2020-21
                        .col-sm-2
                            button#course_show.btn.bg-purple.waves-effect(type='button')
                                i.material-icons search
                                span SEARCH
                        #resultData

        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .card

                .body
                    .row.clearfix
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                            .form-group.form-float
                                .form-line
                                    input#studentId.form-control.text-center(type='text' placeholder='Student ID')

                        .col-sm-2
                            h6.card-inside-title COURSE CODE


                        .col-sm-2
                            h6.card-inside-title COURSE CREDIT

                        .col-sm-6
                            h6.card-inside-title COURSE TITLE

                        .col-sm-2
                            h5.card-inside-title GRADE
                        //- if data
                        //-     each sub in data
                        //-         +subject(sub.courseCode, sub.courseCredit, sub.courseName)
                        #data
                        
                        
                .body
                    .row.clearfix
                        .col-sm-4
                        .col-sm-4
                            
                        .col-sm-3
                            a#btn.btn-lg.btn.bg-blue.waves-effect.m-r-10(href='/results')
                                span Back
                            button#result_publish.btn.bg-purple.waves-effect(type='button')
                                i.material-icons add_circle
                                span Publish Result