doctype html
html
    head
        meta(charset='UTF-8')
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
        title #{title}
        
        //- Favicon
        link(rel='shortcut icon' type='image/x-icon' href='/backend/assets/images/logo.png')
                
        //-Google Fonts
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' type='text/css')

        //- Bootstrap Core Css
        link(href='/backend/assets/plugins/bootstrap/css/bootstrap.min.css' rel='stylesheet')
        
        //- Waves Effect Css
        link(href='/backend/assets/plugins/node-waves/waves.min.css' rel='stylesheet')

        //- Animation Css
        link(href='/backend/assets/plugins/animate-css/animate.min.css' rel='stylesheet')
        
        //- Custom Css
        link(href='/backend/assets/css/style.min.css' rel='stylesheet')

    body.signup-page
        .signup-box
            .logo
                a(href='/')
                    |
                    b Sign Up Page
                small RU CSE Result Managment System
            .card
                .body
                    form#sign_up
                        .msg Register a new membership
                        .input-group
                            span.input-group-addon
                                i.material-icons person
                            .form-line
                                input#name.form-control(type='text' name='namesurname' placeholder='Full Name' required='' autofocus='')
                        .input-group
                            span.input-group-addon
                                i.material-icons email
                            .form-line
                                input#email.form-control(type='email' name='email' placeholder='Email Address' required='')
                        .input-group
                            span.input-group-addon
                                i.material-icons create
                            .form-line
                                input#studentId.form-control(type='text' name='studentId' placeholder='Student Id' required='')
                        .input-group
                            span.input-group-addon
                                i.material-icons contacts
                            .form-line
                                input#phone.form-control(type='text' name='phone' placeholder='Phone No' required='')
                        .input-group
                            span.input-group-addon
                                i.material-icons lock
                            .form-line
                                input#password.form-control(type='password' name='password' minlength='6' placeholder='Password' required='')
                        .input-group
                            span.input-group-addon
                                i.material-icons lock
                            .form-line
                                input#passwordConfirm.form-control(type='password' name='confirm' minlength='6' placeholder='Confirm Password' required='')
                        .form-group
                            input#terms.filled-in.chk-col-pink(type='checkbox' name='terms')
                            label(for='terms')
                                | I read and agree to the 
                                a(href='javascript:void(0);') terms of usage
                                | .
                            button.btn.btn-block.btn-lg.bg-pink.waves-effect(type='submit') SIGN UP
                            .m-t-25.m-b--5.align-center
                            a(href='/') You already have a membership?


        // Jquery Core Js
        script(src='/backend/assets/plugins/jquery/jquery.min.js')
        // Bootstrap Core Js
        script(src='/backend/assets/plugins/bootstrap/js/bootstrap.min.js')
        // Waves Effect Plugin Js
        script(src='/backend/assets/plugins/node-waves/waves.min.js')
        // Validation Plugin Js
        script(src='/backend/assets/plugins/jquery-validation/jquery.validate.js')
        // Custom Js
        script(src='/backend/assets/js/admin.js')
        script(src='/backend/assets/js/pages/examples/sign-in.js')
        
        // Custom Js
        script(src='/backend/js/bundle.js')

